body {
    background-color: hsl(215 41% 5% / 1) !important;
    color: #ddd !important;
    font-family: 'Inconsolata', serif !important;
    font-size: 1em !important;
    margin: 2em !important;
}

h1 {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase !important;
    font-size: 4em !important;
}

header {
    spacing: 250px !important;
    text-align: center;
    color: #28a745 !important;
    margin-bottom:100px !important;
}

header h2 {
    text-align: center;
}

strong {
    color: #28a745 !important;
}

section div {
    text-align: center;
    max-width:780px;
    margin : 50px auto;
    text-align:left !important;
}

h2 {
    border-bottom: 1px white;
    font-family: 'Russo One', sans-serif;
    font-weight: 900; 
    color:#c76d2d;
    text-align:right;
}

#title {
	width:50%;
	text-align:center;
	border-bottom: thick double #28a745;
	margin:30px !important;
}

.glitch-wrapper {
	height: 100%;
	display: flex;
	flex:1;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.glitch {
	color: white;
	font-size: 50px;
	text-transform: upercase;
	position: relative;
	display: inline-block;
}

.glitch::before,
.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #080c12;
}

.glitch::before {
	left: 2px;
	text-shadow: -2px 0 #49FC00;
	clip: rect(24px, 550px, 90px, 0);
	animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

.glitch::after {
	left: -2px;
	text-shadow: -2px 0 #b300fc;
	clip: rect(85px, 550px, 140px, 0);
	animation: glitch-anim 2.5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
	0% {
		clip: rect(28px, 9999px, 5px, 0);
	}

	4.16666667% {
		clip: rect(5px, 9999px, 123px, 0);
	}

	8.33333333% {
		clip: rect(50px, 9999px, 50px, 0);
	}

	12.5% {
		clip: rect(123px, 9999px, 34px, 0);
	}

	16.66666667% {
		clip: rect(70px, 9999px, 105px, 0);
	}

	20.83333333% {
		clip: rect(100px, 9999px, 58px, 0);
	}

	25% {
		clip: rect(95px, 9999px, 134px, 0);
	}

	29.16666667% {
		clip: rect(38px, 9999px, 18px, 0);
	}

	33.33333333% {
		clip: rect(48px, 9999px, 133px, 0);
	}

	37.5% {
		clip: rect(134px, 9999px, 70px, 0);
	}

	41.66666667% {
		clip: rect(10px, 9999px, 75px, 0);
	}

	45.83333333% {
		clip: rect(75px, 9999px, 67px, 0);
	}

	50% {
		clip: rect(98px, 9999px, 29px, 0);
	}

	54.16666667% {
		clip: rect(22px, 9999px, 148px, 0);
	}

	58.33333333% {
		clip: rect(129px, 9999px, 41px, 0);
	}

	62.5% {
		clip: rect(141px, 9999px, 67px, 0);
	}

	66.66666667% {
		clip: rect(145px, 9999px, 105px, 0);
	}

	70.83333333% {
		clip: rect(145px, 9999px, 140px, 0);
	}

	75% {
		clip: rect(83px, 9999px, 117px, 0);
	}

	79.16666667% {
		clip: rect(122px, 9999px, 81px, 0);
	}

	83.33333333% {
		clip: rect(146px, 9999px, 147px, 0);
	}

	87.5% {
		clip: rect(75px, 9999px, 96px, 0);
	}

	91.66666667% {
		clip: rect(132px, 9999px, 111px, 0);
	}

	95.83333333% {
		clip: rect(27px, 9999px, 110px, 0);
	}

	100% {
		clip: rect(103px, 9999px, 60px, 0);
	}
}

@keyframes glitch-anim-2 {
	6.66666667% {
		clip: rect(56px, 9999px, 135px, 0);
	}

	10% {
		clip: rect(68px, 9999px, 128px, 0);
	}

	13.33333333% {
		clip: rect(3px, 9999px, 128px, 0);
	}

	16.66666667% {
		clip: rect(10px, 9999px, 56px, 0);
	}

	20% {
		clip: rect(78px, 9999px, 61px, 0);
	}

	23.33333333% {
		clip: rect(137px, 9999px, 102px, 0);
	}

	26.66666667% {
		clip: rect(68px, 9999px, 87px, 0);
	}

	30% {
		clip: rect(148px, 9999px, 36px, 0);
	}

	33.33333333% {
		clip: rect(125px, 9999px, 139px, 0);
	}

	36.66666667% {
		clip: rect(63px, 9999px, 102px, 0);
	}

	40% {
		clip: rect(112px, 9999px, 25px, 0);
	}

	43.33333333% {
		clip: rect(70px, 9999px, 121px, 0);
	}

	46.66666667% {
		clip: rect(104px, 9999px, 105px, 0);
	}

	50% {
		clip: rect(52px, 9999px, 27px, 0);
	}

	53.33333333% {
		clip: rect(67px, 9999px, 141px, 0);
	}

	56.66666667% {
		clip: rect(88px, 9999px, 136px, 0);
	}

	60% {
		clip: rect(8px, 9999px, 122px, 0);
	}

	63.33333333% {
		clip: rect(62px, 9999px, 127px, 0);
	}

	66.66666667% {
		clip: rect(109px, 9999px, 136px, 0);
	}

	70% {
		clip: rect(8px, 9999px, 120px, 0);
	}

	73.33333333% {
		clip: rect(138px, 9999px, 40px, 0);
	}

	76.66666667% {
		clip: rect(127px, 9999px, 42px, 0);
	}

	80% {
		clip: rect(25px, 9999px, 77px, 0);
	}

	83.33333333% {
		clip: rect(3px, 9999px, 132px, 0);
	}

	86.66666667% {
		clip: rect(12px, 9999px, 140px, 0);
	}

	90% {
		clip: rect(85px, 9999px, 106px, 0);
	}

	93.33333333% {
		clip: rect(33px, 9999px, 134px, 0);
	}

	96.66666667% {
		clip: rect(21px, 9999px, 87px, 0);
	}

	100% {
		clip: rect(101px, 9999px, 93px, 0);
	}
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media (max-width: 600px) {
  #title {
    margin: 0 auto;
    width:100%
  }
}
